<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/awards.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Awards</title>

  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">
      <div class="top">
        <div class="text_wrap">
          <h1>시상식</h1>
        </div>
      </div>
      <div class="content">
        <img src="/img/award.png" alt="">
      </div>
    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>

    <script>
    </script>
  </body>
</html>s
