<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/class.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Class</title>

  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">
      <h1><%= selectClass %> 분반 상세 페이지</h1>
    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>

    <script>
    </script>
  </body>
</html>