<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/congratulate.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Congratulate</title>

  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">

      <div class="top">
        <div class="text_wrap">
          <h1>축사</h1>
        </div>
      </div>

      <div class="content">
        <h2>총장님의 축사</h2>
        <iframe width="800" height="450" src="" frameborder="0"></iframe>
      </div>

      <div class="content">
        <h2>센터장님의 축사</h2>
        <iframe width="800" height="450" src="" frameborder="0"></iframe>
      </div>
      
    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>

    <script>
    </script>
  </body>
</html>