<div class="hd">
  <a href="" class="logo"><img src="/img/logo.png" /></a>
  <div class="head_text_box">
    <div class="welcome">
      <span class="name">김동호</span>
      <span>님, 안녕하세요!</span>
    </div>
    <div class="category_wrap">
      <ul class="category">
        <li class="cate"><a class="title" href="">분반별</a>
          <div class="nav-section">
            <div class="nav-box">
              <ul>
                <h1>인문과학</h1>
                <%for(var i=1;i<4;i++){%>
                  <li><a href="">I<%=i%>분반</a></li>
                <%}%>
              </ul>
              <ul>
                <h1>사범, 글융,</br>영상, 의상</h1>
                  <li><a href="">IE분반</a></li>
                  <li><a href="">IF분반</a></li>
              </ul>
              <ul>
                <h1>사회과학</h1>
                <%for(var i=4;i<7;i++){%>
                  <li><a href="">I<%=i%>분반</a></li>
                <%}%>
              </ul>
              <ul>
                <h1>글로벌, 경영</h1>
                  <li><a href="">IB분반</a></li>
                  <li><a href="">IC분반</a></li>
                  <li><a href="">ID분반</a></li>
              </ul>
              <ul>
                <h1>2-4학년</h1>
                  <li><a href="">GEDT015-I1분반</a></li>
              </ul>
              <ul>
                <h1>자연과학</h1>
                <%for(var i=7;i<10;i++){%>
                  <li><a href="">I<%=i%>분반</a></li>
                <%}%>
              </ul>
              <ul>
                <h1>예술, 스포츠과학</h1>
                  <li><a href="">IG분반</a></li>
                  <li><a href="">IH분반</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cate"><a class="title" href="">분야별</a></li>
        <li class="cate"><a class="title" href="">축사</a></li>
        <li class="cate"><a class="title" href="">시상식</a></li>
      </ul>
    </div>
  </div>
</div>
