<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>2021 SKKU Learning Fair</title>
       
         <!-- jquery -->
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

         <!-- Login Modal -->
         <div id="modal"></div>
         <div class="modal-con login-modal">
             <p class="title">로그인</p>
             <div class="con">
                 <form class="login">
                 <input type="text" id="department" name="department" placeholder="학과" required="required">
                 <input type="text" id="studentId" name="studentId" placeholder="학번" required="required">
                 <input type="text" id="userName" name="userName" placeholder="이름" required="required">
                 <button type="button" id="loginBtn" name="login">시작하기</button>
                 </form>
                
             </div>
         </div>

    </head>
    <body>

    <script src="/js/login.js"></script>
    </body>
</html>