<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Main</title>

    <!-- 슬라이더를 위한 CDN 및 라이브러리 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>

  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">
      <section class="banner">
        <a href="/top50Project"><div><img src="/img/1.png" alt="" /></div></a>
        <a href="/allProject"><div><img src="/img/2.jpg" alt="" /></div></a>
        <a href="/congratulate"><div><img src="/img/3.jpg" alt="" /></div></a>
      </section>

      <section class="cantainer">
        <div class="selection-box">
          <div class="text-contain">
            <h1>멋진 프로젝트를 구경해봅시다!</h1></br>
            <h2>관심이 가는 <span class="green-text">분야</span>를 선택해 보세요</h2>
          </div>

          <div class="hashtag-wrap">
            <%-include ('hashtag.ejs')%>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>

    <script type="text/javascript">
      $('.banner').slick({
        autoplay: true,
        speed: 500,
        fade: true,
      });
    </script>
  </body>
</html>