<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="/css/main.css">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>2021 SKKU Learning Fair</title>
        
       
    </head>
    <body>
        <div class="header">
            <div class="hd">
                <a href="" class="logo" ><img src="/img/Logo.png"></a>
                <div class="category_wrap">
                    <ul class="category">
                        <li><a href="">분반별</a></li>
                        <li><a href="">분야별</a></li>
                        <li><a href="">축사</a></li>
                        <li><a href="">시상식</a></li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="container">
            바디
        </div>

        <div class="footer">
            <div class="ft">
                <a href="" class="low_logo"><img src="/img/low_logo.png"></a>
            </div>
            
        </div>

    
    <script>
    </script>
    </body>
</html>