<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/team.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Team</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">
    
      <div class="top">
        <div class="top-box">
          <div class="text_wrap">
            <p>#칼로리 #햄버거 #계산기 #헬창 #운동</p>
            <h1>[햄복어] 햄버거 칼로리 계산기</h1>
            <h2>김동호 김보민 방건우 정소연 하유진</h2>
          </div>
          <button id="button1" onclick="toggleConfetti();">
              <i class="like old-class"> 1200</i>
              <!-- <i class="xi-heart-o">\ea11</i>
              <i class="xi-heart">\ea10</i> -->
          </button>
        </div>
      </div>

      <div class="contents">
          <iframe width="800" height="450" src="https://lfproject.s3.ap-northeast-2.amazonaws.com/I1/cmd/03%E1%84%87%E1%85%AE%E1%86%AB%E1%84%87%E1%85%A1%E1%86%AB_20%E1%84%8C%E1%85%A9.mp4" frameborder="0" allowfullscreen></iframe>
          <iframe width="800" height="600" src="https://lfproject.s3.ap-northeast-2.amazonaws.com/I1/cmd/03%E1%84%87%E1%85%AE%E1%86%AB%E1%84%87%E1%85%A1%E1%86%AB_20%E1%84%8C%E1%85%A9.pdf" frameborder="0"></iframe>
      </div>

    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>

    <script src="/js/confetti.js"></script>
    <script> 
      var click = 0;
      $("#button1").click(function() {
        if (!click){
          click = 1;
          $(".like").removeClass('old-class').addClass('new-class');
          //1더하기
        }
        else{
          click = 0;
          $(".like").removeClass('new-class').addClass('old-class')
          //1빼기
        }

      });
    </script>
  </body>
</html>