.banner {
  position: relative;
  width: 100%;
  height: 400px;
}

.banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.banner button {
  position: absolute;
  z-index: 8;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* background: rgba(255, 255, 255, 0.5); */
  background: transparent;
  font-size: 0px;
  color: transparent;
}

.banner button:before {
  font-family: "xeicon";
  color: #8dc63f;
  /* color: rgba(0, 0, 0, 0.5); */
  font-size: 50px;
}

.banner button.slick-prev {
  left: 30px;
}

.banner button.slick-prev:before {
  /* content: "\e93b"; */
  content: "\e93d";
}

.banner button.slick-next {
  right: 30px;
}

.banner button.slick-next:before {
  /* content: "\e93e"; */
  content: "\e940";
}

.cantainer {
  display: flex;
  align-items: center;
}

.selection-box {
  margin: 100px auto 20px;
}

.text-contain h1 {
  font-weight: bold;
  font-size: 38px;
  text-align: center;
}

.text-contain h2 {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}

.text-contain .green-text {
  /* color: #8dc63f; */
  /* font-weight: bold; */
  text-decoration: underline;
}

#wordCloud {
  width: 800px;
  height: 500px;
  margin: 50px auto;
  transition: all 0.3s;
}

#wordCloud:hover {
  width: 800px;
  height: 800px;

}

